body {
    background-color: rgb(49, 28, 28);
}

.container {
    color: rgb(59, 220, 59);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}


.img1 {
    width: 8rem;
    display:inline-block;
}

.img2 {
    width: 8rem;
    display:inline-block;
}

footer {
    color: white;
    padding: 20px;
    text-align: center;

}